body{
    background-color: rgb(173, 200, 215);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

    header{
        font-size: 40px;
        text-align: center;
        border-left: 25px double 5px rgb(0, 11, 12);
        /*margin: 30px;*/
        padding: 30px;
        color: rgb(255, 255, 255);
    }
    h1{
        font-size: 30px;
    }

    p{
        font-size: 30px;
    }

    section{
background-color: rgb(190, 26, 26);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
    }