body{
    background-color: rgb(4, 126, 198);
    color: rgb(147, 195, 238);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

    header{
        font-size: 40px;
        text-align: center;
        border-left: 25px double 5px rgb(54, 238, 255);
        /*margin: 30px;*/
        padding: 30px;
        color: blue;
    }
    h1{
        font-size: 30px;
    }

    p{
        font-size: 30px;
    }